.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

img {
  height: 10rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  margin-top: 1rem;
}

.container {
  text-align: center;
}



.input-group {
  margin-bottom: 1rem;
}

.input-group-text {
  background-color: black;
  color: white
}
